/*Navigation Bar Styles*/
.navbar{
    display: flex;
    height: 90px;
}

/*YouTube Logo Styles*/
.logo{
    margin-top: -13px;
    margin-left: 50px;
}

/*Search Box Icon, create Video Icon, Notification Icon And Profile Icon Section Styles*/
.icon{
    height: 40px;
    width: 40px;
    margin-top: 30px;
}

/*Search Bar, Search Icon And mic Icon Section Styles*/
.push{
    margin-left: auto;
    font-size: large;
}

.searchbox{
    width: 500px;
    border-radius: 30px;
}

.searchbtn{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -20px;
    width: 80px;
    height: 46px;
    margin-top: 30px;
}

.micbtn{
    background-color: white;
    border: 1px solid white;
    margin-left: 15px;
    height: 46px;
    margin-top: 30px;
}

/*Create Video, Notification Icon And Profile Icon Section Styles*/
.createvidbtn{
    margin-left: auto;
}

.righticonsbtn{
    margin-right: 20px;
    background-color: white;
    border: 1px solid white;
}

/*Main Section Styles*/
.main_container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    gap: 20px;
}

.side_section_content_container{
    display: flex;
}

.side_section_images{
    height: 130px;
    width: 250px;
    border-radius: 30px;
    margin-right: 10px;
    
}

iframe{
    height: 700px;
    width: 1100px;
}

.flex_sub_container{
    display: flex;
}

.flex_btn_one{
    display: flex;
    height: 50px;
}

.flex_btn_two{
    display: flex;
    border-radius: 50px;
    border: 1px solid white;
    padding-right: 20px;
}

.left_push{
    margin-left: 100px;
}

.icon_img{
    padding: 15px;
    height: auto;
    width: 20px;
}

.icons_txt_font_size{
    font-size: larger;
    font-weight: 600px;
}

.dot_btn{
    border-radius: 50px;
    border: 1px solid white;
    margin-left: 15px;
}

.channel_logo{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.name_subs_container{
    margin-left: 10px;
    margin-right: 16px;
    margin-top: -20px;
}

.channel_name{
    font-size: large;
}

.channel_subs{
    margin-top: -15px;
    font-size: 15px;
}

.views_container{
    width: 1100px;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.views_txt{
    font-size: 15px;
    font-weight: 100px;
    margin-left: 10px;
}

.txt_margin_top{
    margin-top: -7px;
}

.side_section_btn{
    border-radius: 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    margin-right: 10px;
}

.white_bg{
    background-color: white;
}

.side_section_txt{
    font-size: 15px;
    font-weight: 50px;
}

.side_section_content{
    margin-top: -20px;
}

.side_channel_name{
    font-size: 15px;
    margin-top: -15px;
}

.side_section_btn_two{
    height: 20px;
    width: 40px;  
}

.white_txt{
    color: white;
}

.black_bg{
    background-color: black;
}



